.outline-badge
{
	padding: 2px 6px;
	border-radius: 50%;
    border: 1px solid var(--ion-color-primary);

    --background: transparent;
	--color: var(--ion-color-primary);
}

.bold-icon {
  font-size: 2em;      /* plus gros = effet “gras” */
  --ionicon-stroke-width: 2em; /* rend l’icône plus épaisse */
}

.bg-dark {
	--ion-color-base: #121212;
}